## DATABASE
MONGODB_URL=

# RPC'S
API_MATIC_TESTNET="https://rpc-mumbai.maticvigil.com/"
API_MATIC_MAINNET="https://rpc-mainnet.maticvigil.com/"
API_ETH_TESTNET="https://rinkeby.infura.io/v3/f3f30b367c6c45c093d0a7c7bd7709fa"
API_ETH_MAINNET="https://mainnet.infura.io/v3/f3f30b367c6c45c093d0a7c7bd7709fa"
API_BSC_TESTNET="https://data-seed-prebsc-1-s2.binance.org:8545/"
API_BSC_MAINNET="https://bsc-dataseed.binance.org"

## WALLET KEY PHRAZE
MNEMONIC="input engage salon smooth choose buffalo priority february advice crop visit stand"

## prod | develop
TROTTER_NODE_ENV=develop 

LIMIT=10
TTL=60
IPFS_PINN=false